.topheading {
  text-align: left;
  display: block;
  padding-bottom: 15px;
  color: #675752;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  gap: 20px;
}

.topheading h4 {
  margin: 0;
}

.topheading .coverphoto {
  width: 100%;
  height: 200px;
}

.coverphoto {
  background-image: url('/grain_overlay.png');
}

.backarrow {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.profilephoto {
  position: absolute;
  left: 20px;
  bottom: 170px;
  width: 84px;
  height: 84px;
  border: 1px solid #d9cab3;
  border-radius: 84px;
}

.profileinfo {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.displayname {
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin: 0;
  margin-top: 35px;
}

.username {
  font-size: 14px;
  color: #413d36;
  margin: 0;
}

.stats {
  margin-top: 10px;
  font-size: 14px;
  color: #413d36;
}

.dot {
  font-size: 12px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 0;
}

.menu li {
  font-size: 18px;
  color: #675752;
  font-weight: 700;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.heading {
  position: sticky;
  z-index: 1000;
  width: 588px;
  background-color: var(--color-bg);
  top: 0;
  margin: 0;
}

.active {
  color: var(--color-accent) !important;
}
