.body {
  height: 100vh;
  position: relative;
}

.chats {
  flex-shrink: 1fr;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  margin-left: 29vw;
  width: min-content;
  min-height: 100vh;
}

.chats::-webkit-scrollbar {
  display: none;
}

.topheading {
  text-align: left;
  z-index: 1000;
  width: 588px;
  background-color: var(--color-bg);
  display: block;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-border);
  margin: 0;
  padding-bottom: 15px;
  color: #675752;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  gap: 20px;
}

.topheading h4 {
  margin: 0;
}

.topheading img:hover {
  cursor: pointer;
}

.username {
  font-size: 16px;
  color: #817268;
  font-weight: 400;
  margin-left: 6px;
}

.messages {
  padding-bottom: 80px;
}

.chatdetailskeleton {
  width: 180px;
  background: linear-gradient(90deg, #c9b89f 25%, #b8a085 50%, #c9b89f 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  height: 16px;
  border-radius: 6px;
  margin-top: 4px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
