.chat {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  transition: background-color 100ms linear;
  padding: 15px;
  border-bottom: 1px solid #bca890;
}

.chat > * {
  cursor: default;
}

.right {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 5px;
  margin-top: 0;
  margin-bottom: 5px;
}

.chat .profilephoto {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  cursor: pointer;
}

.displayname {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.dot {
  font-size: 12px;
  color: #413d36;
}

.username,
.time {
  color: #413d36;
  font-size: 14px;
}

.text {
  margin-top: 0;
  font-size: 15px;
  color: #413d36;
  max-height: 40px;
  overflow: hidden;
}

.chat:hover {
  background-color: #d0bfa5;
}
