.menu {
  position: fixed;
  left: 0;
  margin-left: 45px;
  width: 29vw;
  padding-top: 20px;
}

.title {
  color: #675752;
  font-size: 24px;
  font-weight: 900;
}

.calltoaction,
.menuitems {
  margin-top: 8vh;
  width: 236px;
}

.actionheading {
  color: #4a2c2c;
  font-size: 24px;
  font-weight: 800;
}

.calltoaction button:last-of-type {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  width: 64px;
  height: 64px;
}

.profiletext p {
  margin: 0;
  color: #413d36;
  font-size: 16px;
}

.profiletext p:last-of-type {
  font-weight: 600;
  font-size: 15px;
}

.menuitems {
  list-style: none;
  padding: 0;
}

.menuitems li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  text-align: left;
}

.menuitems li img {
  width: 24px;
  height: 24px;
}

.menuitems li p {
  color: #675752;
  font-weight: 500;
  font-size: 18px;
}

.menuitems li button {
  margin-top: 6vh;
}
