.sendMessage {
  position: absolute;
  background-color: var(--color-bg);
  display: flex;
  bottom: 0;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 10px 20px;
  justify-content: center;
  box-sizing: border-box;
}

.sendMessage input {
  flex-grow: 1;
  resize: none;
  margin: 0;
  flex-basis: 80%;
  font-family: 'Inter', sans-serif;
  background-color: #d0bfa500;
  border: 1px solid var(--color-border);
  font-size: 15px;
  color: #3e3932;
  height: 34px;
  box-sizing: border-box;
  padding-left: 10px;
}

.sendMessage input:focus {
  outline: solid 1px #5c3838;
}

.sendMessage button {
}

.sendMessage button img {
  width: 18px;
  height: 18px;
}
