.login {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.login h1 {
  font-size: 64px;
  color: #675752;
  font-weight: 900;
  border-right: 1px solid #bca890;
  padding-right: 60px;
}

.login form {
  margin-top: 16vh;
  margin-left: 60px;
}

.step {
  color: #675752;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.subhead {
  color: #4a2c2c;
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}

.inputfield {
  margin-top: 20px;
}

.buttongroup {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
