.login {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  height: 100vh;
}

.login h1 {
  font-size: 64px;
  color: #675752;
  font-weight: 900;
  border-right: 1px solid #bca890;
  padding-right: 60px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
}

.login form {
  margin-top: 16vh;
  margin-left: 60px;
  width: 600px;
}

.step {
  color: #675752;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.subhead {
  color: #4a2c2c;
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
}

.inputfield {
  margin-top: 10px;
}

.buttongroup {
  margin-top: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.right {
  justify-content: flex-end !important;
}

.fade-enter {
  opacity: 0;
  transform: translateX(50px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 500ms, transform 500ms;
}

.error {
  display: flex;
  gap: 16px;
  align-items: center;
  border: 2px solid #4a2c2c;
  color: #4a2c2c;
  border-radius: 2px;
  padding: 10px 20px;
  width: calc(100% - 45px);
  margin-bottom: 2vh;
}

.error img {
  width: 18px;
}

.error p {
  margin: 0;
}

.error p::first-letter {
  text-transform: uppercase;
}

.errorhidden {
  display: none;
}
