.chats {
  flex-basis: 1fr;
  flex: 1;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.chats::-webkit-scrollbar {
  display: none;
}

.topheading {
  text-align: left;
  z-index: 1000;
  width: 588px;
  background-color: var(--color-bg);
  display: block;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-border);
  margin: 0;
  padding-bottom: 15px;
  color: #675752;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  gap: 20px;
}

.topheading h4 {
  margin: 0;
}
