.body {
  height: 100vh;
  position: relative;
}

.posts {
  flex-shrink: 1fr;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  margin-left: 29vw;
  width: fit-content;
  height: 100vh;
}

.posts::-webkit-scrollbar {
  display: none;
}

.topheading {
  text-align: left;
  z-index: 1000;
  width: 588px;
  background-color: var(--color-bg);
  display: block;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-border);
  margin: 0;
  padding-bottom: 15px;
  color: #675752;
  font-size: 18px;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  gap: 20px;
}

.topheading h4 {
  margin: 0;
}

.topheading img:hover {
  cursor: pointer;
}

.addcomment {
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);
  text-align: left;
  padding-left: 20px;
  color: #675752;
}

.addcomment:hover {
  color: var(--color-accent);
}
