:root {
  --color-bg: #d9cab3;
  --color-accent: #4a2c2c;
  --color-secondary: #d0bfa5;
  --color-accent2: #675752;
}

body {
  background-color: var(--color-bg);
  font-family: 'Inter', sans-serif;
  color: black;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
