:root {
  --color-bg: #d9cab3;
  --color-accent: #4a2c2c;
  --color-secondary: #d0bfa5;
  --color-accent2: #675752;
  --color-border: #bca890;
}

body {
  background-color: var(--color-bg);
  font-family: 'Inter', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #d0bfa5 inset;
  -webkit-text-fill-color: #675752;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #d0bfa5 inset;
  -webkit-text-fill-color: #675752;
}

.scroll {
  overflow-y: auto;
  flex-shrink: 0;
}

@media only screen and (max-width: 1200px) {
  #root {
    flex-direction: column;
    overflow-x: none;
  }

  .scroll {
    padding-bottom: 100px;
  }
}
