.inputwrapper {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  width: 100%;
  background-color: var(--color-secondary);
}

.input label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  width: 100%;
  margin-left: 5px;
  text-transform: capitalize;
  transition: transform 200ms ease;
}

.input input {
  font-family: 'Inter', sans-serif;
  border: none;
  height: 52px;
  width: 90%;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  transition: opacity 150ms ease;
}

.input input:focus {
  outline: none;
  border: none;
}

.inputwrapper img:first-of-type {
  margin-left: 15px;
}

.inputwrapper img.last {
  display: block;
  margin-right: 15px;
  padding-left: 15px;
  border-left: 2px solid var(--color-bg);
  opacity: 0.7;
  cursor: default;
}

.inputwrapper img.last:hover {
  opacity: 1;
}

.input input::placeholder {
  font-size: 16px;
  font-weight: 600;
}

.input.unselected label {
  transform: translateY(42px) translateX(45px);
  cursor: text;
}

.input.unselected input {
  opacity: 0;
}

.input--primary label {
  color: var(--color-accent2);
}

.input--primary input {
  background-color: var(--color-secondary);
  color: var(--color-accent2);
}

.input--primary input::placeholder {
  color: var(--color-accent2);
}

.input--primary .inputwrapper:focus-within {
  outline: 2px solid var(--color-accent2);
}
