.inputwrapper {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  width: 600px;
  background-color: var(--color-secondary);
}

.input label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: 5px;
  text-transform: capitalize;
  transition: transform 200ms ease;
}

.input input {
  border: none;
  height: 52px;
  width: 100%;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  transition: opacity 200ms ease;
}

.input input:focus {
  outline: none;
  border: none;
}

.inputwrapper img:first-of-type {
  margin-left: 15px;
}

.inputwrapper img.last {
  margin-right: 15px;
  padding-left: 15px;
  border-left: 2px solid var(--color-bg);
}

.input::placeholder {
  font-size: 18px;
  font-weight: 600;
}

.input.unselected label {
  transform: translateY(42px) translateX(45px);
  cursor: text;
}

.input.unselected input::placeholder {
  opacity: 0;
}

.input--primary label {
  color: var(--color-accent2);
}

.input--primary input {
  background-color: var(--color-secondary);
  color: var(--color-accent2);
}

.input--primary input::placeholder {
  color: var(--color-accent2);
}

.input--primary .inputwrapper:focus-within {
  outline: 2px solid var(--color-accent2);
}
