.profile {
  flex: 1 0 auto;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.profile::-webkit-scrollbar {
  display: none;
}
